.audio-line {
    position: relative;
}

.moving-line {
    position: absolute;
    left: -30%;
    top: 0;
    height: 100%;
    width: 30%;
    background: linear-gradient(to right, #a855f7, #3b82f6);
    animation: moveLine 1.2s linear infinite;
    animation-play-state: paused;
}

@keyframes moveLine {
    0% {
        left: -30%;
    }

    100% {
        left: 100%;
    }
}